/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-wysihtml5/b3
 *= require_self
 *= require_tree .
 */

html {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	padding: 40px 0 0 0;
	font: 400 14px/24px "jaf-facitweb", Helvetica, Arial, sans-serif;
	color: #2C343B;
	background: #fff url('whitey.png') repeat top left;
}

img {
	max-width: 100%;
	height: auto;
}

.pad {
	padding: 50px 0;
}

.padmore {
	padding: 100px 0;
}

.padless {
	padding: 20px 0;
}

/* ------- Typography ------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "jaf-bernino-sans-condensed", Georgia, Times, serif;
}

p,
li,
label,
input {
	font-family: "jaf-facitweb", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: 700!important;
}

h6,
p {
	font-weight: 400;
}

h3.title {
	margin-top: 0;
}

.ctr {
	text-align: center!important;
}

.rgt {
	text-align: right!important;
}

.caps, .upper {
	text-transform: uppercase;
}

.white {
	color: #fff;
}

.red {
	color: #C44741;
}

a {
	color: #3299BB;
}

a:hover {
	color: #2188AA;
}

a.black {
	color: #424242!important;
}

a.black:hover {
	color: #2188AA!important;
}

/* ------- Header ------- */

header {
	font-size: 18px;
	background: #52616D;
	padding: 0;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 9000;
	color: #fff;
}

header p,
header a,
header ul,
header ul>li,
header .nav>li>a {
	color: #fff;
	letter-spacing: -1px;
}

header .nav>li>a:hover,
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	background: #63727E!important;
	border: none;
}

.dropdown li a {
	color: #52616D;
}

.dropdown li a:hover {
	background: #63727E!important;
	color: #fff;
}

.main {
	padding: 50px 0;
}

#sidebar {
	padding: 50px 0;
}

/* ------- Footer ------- */

footer {
	width: 100%;
	background: #fff;
	margin-top: 40px;
}

/* ------- btn ------- */

/*.btn-primary {
	border: none;
	background: #52616D;
}*/

.btn-danger {
	border: none;
	background: #C44741;
}

/* ------- Devise ------- */

body#devise {
	background: #fff;
}

#form-area {
	background: transparent url('laptop-blur.jpg') no-repeat;
	background-attachment: fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#devise-form h2 {
	margin-top: 0;
}

#why {
	border-top: 1px solid #B3AEAA;
	border-bottom: 1px solid #B3AEAA;
	background: #E5E1D1;
	width: 100%;
}

#why h3 {
	color: #52616D;
}

@media (max-width: 767px) {
	.pad {
		padding: 20px 0;
	}
	
	.padmore {
		padding: 40px 0;
	}
}