// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#stories article.story {
  padding-bottom: 25px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 25px;
}

ul.actions {
  margin-top: 15px;
  background: #eaeaea;
  border-top: 1px solid #dadada;
  padding: 15px 25px;
}