// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#story-index {
  margin-top: 20px;
}

.vote-column {
  padding: 0 20px 5px 0;
  font-size: 26px;
  font-weight: 400;
  text-align: center;
  background: none;
  float: left;
  width: 10%;
  height: 100%;
}

.vote-cell {
  vertical-align: middle;
  padding: 5px 0;
  margin: 5px 0;
  border-radius: 6px;
  width: 80%;
}

.vote-cell:hover {
  color: #fff;
}

.vote-cell.count:hover {
  color: #424242;
}

.vote-cell.upvote {
  background: #5cb85c;
}

.vote-cell.upvote:hover {
  background: #6dc96d;
}

.vote-cell.upvoted {
  background: #7eda7e;
  color: #fff;
  cursor: not-allowed;
}

.vote-cell.downvote {
  background: #C44741;
}

.vote-cell.downvote:hover {
  background: #ba635e;
}

.vote-cell.downvoted {
  background: #ba635e;
  color: #fff;
  cursor: not-allowed;
}

article {
  margin-bottom: 25px;
}

.story-content {
  padding: 20px 20px 10px 20px;
  border: 1px solid #bababa;
  border-radius: 6px;
  background: #fff;
  width: 90%;
  float: right;
}

.single-story {
  padding: 20px 20px 10px 20px;
  border: 1px solid #bababa;
  border-radius: 6px;
  background: #fff;
}

h1,
h2,
h3 {
  margin-top: 0;
}

ul.actions {
  margin-top: 15px;
  background: #eaeaea;
  padding: 15px 25px;
}

.help-block {
  color: #fff;
  font-size: 75%;
  line-height: 110%
}

.devise-wrapper {
  background: #2C343B;
  background: rgba(44,52,59,0.85);
  padding: 40px 0 40px 15px;
  color: #fff;
  margin-left: 12px;
}

.alert-alert {
  background: #C44741;
  color: #fff;
}

.alert-notice {
  background: #428bca;
  color: #fff;
}

.pagination span, .pagination em, .pagination a {
  padding: 0 10px;
}

#error_explanation {
  width: 80%;
  padding: 7px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #C44741;
  color: #fff;
}

#error_explanation h2 {
  text-align: center;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 14px;
  color: #ffffff!important;
}

#error_explanation p {
  color: #ffffff!important;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: none;
}

.comment {
  padding: 15px 20px 15px 20px;
  margin-bottom: 15px;
  font-size: 12px;
  background: #f1f1f1;
}

.comment:last-of-type {
  border: none;
  margin: none;
}